<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ title }}</title>
    <meta name="HandHeldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width , intitial-scale=1.0, viewport-fit=cover"/>
    
</head>
